<h1>タスク一覧</h1>

<div>
  <table>
    <thead>
      <tr>
        <th>タイトル</th>
        <th>更新日時</th>
      </tr>
    </thead>
    <tbody>
      <% @task.each do |t| %>
        <tr>
          <td><%= link_to t.title, edit_task_path(t.id) %></td>
          <td><%= t.updated_at %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
  <%= link_to "新規登録", new_task_path %>
