<h1 class="my-3">ラベル一覧</h1>

<div class="mb-3">
  <table class="table table-hover">
    <tr>
      <th>ラベル</th>
      <th></th>
    </tr>
    <% @labels.each do |l| %>
    <tr>
      <th><%= l.labelname %></th>
      <th><%= link_to "編集", edit_label_path(l.id), class: "btn btn-secondary" %>
        <%= link_to "削除", label_path(l.id), method: :delete ,data: { confirm: '本当に削除していいですか'}, class: "btn btn-danger mx-2" %></th>
    </tr>
    <% end %>
  </table>
</div>
<%= link_to "新規登録", new_label_path , class: "btn btn-primary" %>
